div {
    width: 100%;
    max-width: 200px;
    height: 100vh;
    border: 1px solid blue;
    font-size: 12px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

section {
    height: 80vh;
    border: 1px solid green;
}

p {
    color: aqua;
}

.red {
    color: orange;
}

#title {
    color: black;
}

p.red {
    color: purple;
}

.heading.red {
    color: blue;
}